$primary: #880077;
$enable-rounded: false;

@import 'bootstrap/scss/bootstrap.scss';

.body{
    font-family: "Inter" , sans-serif;
}

.app-dropdown {
    @extend .position-absolute;
    @extend .border;
    @extend .bg-body-tertiary;
    width: 240px;
    margin-top: 16px;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 999;

    &.active {
        margin-top: 8px;
        opacity: 1;
        visibility: visible;
    }
}

.splide__slide img {
    width: 100%;
    height: auto;
}
.app-product-name{
    height: 48px;
    overflow: hidden;

}
.app-dropdown-toggle {
    position: relative;
}